<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>

    <div class="tituloSucursales" style="margin-top:100px">CONTACTO</div>
    
      <div class="cajasFormulariosContacto" id="formularioContacto">
        <div class="hijoFormularioContacto">
          <div class="textoFormularioContacto">
            <div class="tituloContacto">
              ¡ENVIANOS TU CONSULTA!
            </div>
          </div>
          <div class="formularioContacto">
            <form action="" method="post">
              <input type="text" placeholder="Nombre*" name="nombre" required>
              <input type="text" placeholder="Teléfono*" name="telefono" required>
              <input type="text" placeholder="E-mail*" name="email" required>
              <textarea name="mensaje" cols="30" rows="8" placeholder="¡Dejá tu mensaje!" name="mensaje"></textarea>
              <label class="aceptoBases">
                <input type="checkbox" required> Acepto formar parte de la base de datos de Music Center
              </label>
              <button>ENVIAR <i class="fa-solid fa-paper-plane"></i>
                <span class="relleno"></span>
              </button> 
            </form>
          </div>
          <br>
        </div>
        <div class="hijoFormularioContacto">
          <div class="tituloContacto">
            CONTACTÁ CON ROSI VIAJES
          </div>
          <div class="textoContacto">
            Trabajo con las empresas #1 de turismo a nivel Nacional. Mi compromiso es brindar a mis pasajeros un viaje de calidad y economico, asesoramiento personalizado y lograr que el proceso de compra sea una experiencia excepcional.
          </div>
          <div class="cajaRedesContacto">
            <div class="tituloRedesContacto">
              CONTACTAME!
            </div>
            <div class="textoRedesContacto" style="border-bottom: rgba(56, 56, 56, 0.575) solid 2px;padding-bottom: 10px;">
              <p><i class="fa-solid fa-envelope"></i><a href="mailto:importainerr@gmail.com"> MAIL ROSI</a></p>
              <p><a href="https://wa.me/5491149141781?text=" target="_blank"><i class="fa-brands fa-whatsapp" target="_blank"></i> +54 11 4914 1781</a></p>
              <p><i class="fa-solid fa-phone"></i><a href="" target="_blank"> +54 11 4914 1781</a></p>
            </div>
            <div class="tituloRedesContacto" style="margin-top:10px">
              MIS REDES SOCIALES
            </div>
            <div class="textoRedesContacto">
              <p><a href="https://www.facebook.com/rosana.araujo.581" target="_blank"><i class="fa-brands fa-square-facebook"></i> rosana.araujo.581</a></p>
              <p><a href="https://www.instagram.com/rosana_araujo07?igsh=MTM0aXhycDJ3ZGFyZw==" target="_blank"><i class="fa-brands fa-instagram" target="_blank"></i> @rosana_araujo07</a></p>
            </div>
          </div>
        </div>
      </div>

  </body>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</html>