<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>
      
      <div class="tituloSucursales" style="margin-top:100px">PREGUNTAS FRECUENTES</div>
  
      <div class="acordeon">

      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="headerAcordeon" style="border-top: black 1px solid; font-weight: bold;">VIAJES EN MICRO</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="tituloAcordeon">¿Cuáles son los destinos disponibles para los viajes en micro?</div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Ofrecemos una variedad de destinos nacionales e internacionales. Los destinos más populares incluyen ciudades turísticas y puntos de interés cultural en nuestro país y en países vecinos.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <div class="tituloAcordeon">¿Qué servicios están incluidos en los paquetes de viajes en micro?</div>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Los servicios generalmente incluyen el transporte de ida y vuelta, alojamiento, algunas comidas, y excursiones o actividades turísticas en el destino. Detalles específicos se pueden consultar en la descripción de cada paquete.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <div class="tituloAcordeon">¿Los micros están equipados con comodidades como Wi-Fi y baños?</div>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sí, nuestros micros están equipados con Wi-Fi, baños, asientos reclinables, y entretenimiento a bordo para garantizar un viaje cómodo.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <div class="tituloAcordeon">¿Puedo reservar asientos específicos en el micro?</div>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sí, al reservar tu paquete puedes seleccionar tus asientos preferidos, sujetos a disponibilidad.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              <div class="tituloAcordeon">¿Hay opciones para personas con movilidad reducida?</div>
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sí, ofrecemos opciones accesibles para personas con movilidad reducida. Por favor, avísanos de tus necesidades al momento de la reserva para asegurarnos de que tengamos todo preparado.</div>
          </div>
        </div>
        
        <div style="margin-top: 50px; border-top: black 1px solid; font-weight: bold" class="headerAcordeon">VIAJES EN AVIÓN</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              <div class="tituloAcordeon">¿Qué aerolíneas utilizan para los paquetes de viajes en avión?</div>
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Trabajamos con varias aerolíneas reconocidas para ofrecerte las mejores opciones de vuelo. La aerolínea específica para cada paquete se detalla en la descripción del mismo.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              <div class="tituloAcordeon">¿Qué incluye el paquete de viaje en avión?</div>
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ol style="text-align: start;">
                <div class="accordion-body">Los paquetes de viaje en avión incluyen vuelos de ida y vuelta, alojamiento, traslados aeropuerto-hotel-aeropuerto, y algunas actividades o excursiones en el destino.</div>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              <div class="tituloAcordeon">¿Puedo elegir horarios de vuelo?</div>
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ol style="text-align: start;">
                <div class="accordion-body">Ofrecemos opciones de horarios de vuelo al momento de la reserva, aunque la disponibilidad puede variar según el destino y la temporada.</div>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              <div class="tituloAcordeon">¿Es posible agregar servicios adicionales como seguro de viaje o alquiler de coches?</div>
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ol style="text-align: start;">
                <div class="accordion-body">Sí, puedes agregar servicios adicionales como seguro de viaje, alquiler de coches, y actividades extra al momento de realizar tu reserva.</div>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              <div class="tituloAcordeon">¿Qué debo hacer si mi vuelo se retrasa o se cancela?</div>
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ol style="text-align: start;">
                <div class="accordion-body">En caso de retrasos o cancelaciones, trabajaremos con la aerolínea para reprogramar tu vuelo o encontrar una solución alternativa. También te asistiremos con cualquier cambio necesario en tus reservas de hotel o actividades.</div>
              </ol>
            </div>
          </div>
        </div>

        <div style="margin-top: 50px; border-top: black 1px solid; font-weight: bold" class="headerAcordeon">PAQUETES DE VIAJES</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseEight">
              <div class="tituloAcordeon">¿Cómo puedo reservar un paquete de viaje?</div>
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Puedes reservar un paquete de viaje a través de nuestra página web, por teléfono, o comunicandote por WhatsApp. Estaré encantada de asistirte en todo el proceso.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
              <div class="tituloAcordeon">¿Qué política de cancelación tienen?</div>
            </button>
          </h2>
          <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nuestras políticas de cancelación varían según el paquete. Por lo general, ofrecemos reembolsos completos o parciales dependiendo de la antelación con la que se cancele la reserva. Te recomendamos revisar las políticas específicas en la descripción de cada paquete.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
              <div class="tituloAcordeon">¿Qué documentación necesito para viajar?</div>
            </button>
          </h2>
          <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Para viajes nacionales, generalmente necesitas un documento de identidad válido. Para viajes internacionales, necesitarás un pasaporte y, en algunos casos, visados. Te proporcionaremos toda la información necesaria al momento de la reserva.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
              <div class="tituloAcordeon">¿Hay descuentos para grupos o familias?</div>
            </button>
          </h2>
          <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sí, ofrecemos descuentos especiales para reservas de grupos y familias. Ponte en contacto con nuestro equipo de ventas para obtener más información y las mejores tarifas.</div>
          </div>
        </div>
      </div>

    </div>
  
  </body>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</html>