<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>
      
      <div class="tituloSucursales" style="margin-top:100px">PREGUNTAS FRECUENTES</div>
  
      <div class="acordeon">

      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="headerAcordeon" style="border-top: black 1px solid; font-weight: bold;">COMO ME PUEDO ASESORAR?</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="tituloAcordeon">¿Puedo ver un modelo terminado antes de comprar?</div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En esta misma página web y desde la <a href="/tienda">tienda online</a> vas a poder ver los modelos terminados. También tenés la posibilidad de <a href="https://wa.me/5491159378945?text=" target="_blank">contactar</a> con un asesor para hacer una visita programada a nuestros showrooms y conocer inmuebles container terminados.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <div class="tituloAcordeon">Antes de comprar me gustaría asesorarme.</div>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Podés escribirnos pidiendo asesoramiento desde los botones <strong>QUIERO COTIZAR</strong> de las tarjetas de los productos, desde los botones rojos, desde la sección de <a href="/contacto">Contacto</a> o en alguno de estos dos números de WhatsApp: <a href="https://wa.me/5491159378945?text=" target="_blank">+54 9 11 59378945</a> ó <a href="https://wa.me/5491122763820?text=" target="_blank">+54 9 11 22763820.</a></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <div class="tituloAcordeon">¿El asesoramiento es gratis o debo pagar?</div>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Pedir asesoramiento y recibir el asesoramiento es completamente gratis. Si ya estás listo/a para hacerlo, esperamos tu mensaje 😉.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <div class="tituloAcordeon">¿Dónde puedo pedir asesoramiento sobre uno o varios inmuebles container?</div>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Si deseas recibir asesoramiento sobre un inmueble container puntual o varios inmuebles container, podés escribirnos haciendo clic en alguno de los botones <strong>QUIERO COTIZAR</strong> de las tarjetas de los productos, haciendo clic en alguno de los botones rojos, desde la sección de Contacto o en alguno de estos dos números de WhatsApp: <a href="https://wa.me/5491159378945?text=" target="_blank">+54 9 11 59378945</a> ó <a href="https://wa.me/5491122763820?text=" target="_blank">+54 9 11 22763820.</a></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              <div class="tituloAcordeon">¿Si estoy indeciso puedo pedir asesoramiento?</div>
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Si estás indeciso y querés consultar sobre las alternativas que tenemos para ofrecerte, podés pedir asesoramiento para que puedas recibir orientación sobre los modelos, líneas, tamaños, precios, formas de pago, financiación y mucho más. ¡Esperamos tu mensaje!</div>
          </div>
        </div>
        <div style="margin-top: 50px; border-top: black 1px solid; font-weight: bold" class="headerAcordeon">EXPERIENCIA DE COMPRA:</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              <div class="tituloAcordeon">¿Cómo puedo comprar un inmueble container en Importainer S.A?</div>
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Podés acceder a asesorarte y comprar cualquiera de nuestros inmuebles container desde nuestra <a href="/tienda">tienda online</a> o escribiendo tu consulta en alguno de nuestros número de WhatsApp: <a href="https://wa.me/5491159378945?text=" target="_blank">+54 9 11 59378945</a> ó <a href="https://wa.me/5491122763820?text=" target="_blank">+54 9 11 22763820.</a></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              <div class="tituloAcordeon">¿Cómo es el proceso para comprar en esta página de Importainer S.A?</div>
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ol style="text-align: start;" type="1">
                <li>Ingresá en nuestra <a href="/tienda">tienda online</a>, elegí la categoría, ajustá los filtros en base a tus gustos o necesidades y descubrí las alternativas que tenemos para vos.</li>
                <li>Elegí la tarjeta del producto que te interesa y navegá viendo sus características.</li>
                <li>Pedí asesoramiento o proceder a realizar la compra haciendo clic en alguno de los botones del inmueble container que te interesa.</li>
                <li>Asesorate y cerrá la compra del inmueble container de tus sueños.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseEight">
              <div class="tituloAcordeon">¿Dónde me asesoro para saber sobre un inmueble container que quiero comprar?</div>
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Si ya estás decidido a comprar un inmueble container y aún no pediste asesoramiento; lo podés hacer desde nuestra página web o escribiendo tu pedido en alguno de nuestros número de WhatsApp: <a href="https://wa.me/5491159378945?text=" target="_blank">+54 9 11 59378945</a> ó <a href="https://wa.me/5491122763820?text=" target="_blank">+54 9 11 22763820.</a></div>
          </div>
        </div>
        <div style="margin-top: 50px; border-top: black 1px solid; font-weight: bold" class="headerAcordeon">EXPERIENCIA DE POSTCOMPRA:</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
              <div class="tituloAcordeon">¿Puedo hacer a medida mi inmueble container?</div>
            </button>
          </h2>
          <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Tenes la posibilidad de comprar un inmueble estándar o podés optar por hacerla a medida de la mano de nuestro equipo de arquitectos.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
              <div class="tituloAcordeon">¿Qué sucede después de que realizo mi compra en Importainer S.A?</div>
            </button>
          </h2>
          <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Una vez efectúas la compra de un inmueble container, nuestro equipo de arquitectos te va a contactar para que puedas avanzar en el desarrollo de tu proyecto.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
              <div class="tituloAcordeon">¿Cuánto tiempo debo esperar para tener mi inmueble container?</div>
            </button>
          </h2>
          <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nuestros asesores pueden facilitarte lapsos de tiempo durante los asesoramientos.</div>
          </div>
        </div>
        <div style="margin-top: 50px; border-top: black 1px solid; font-weight: bold" class="headerAcordeon">PAGOS, FINANCIACIÓN, FORMAS DE PAGO Y PRÉSTAMOS</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFourteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
              <div class="tituloAcordeon">¿Puedo comprar / pagar un inmueble container al contado?</div>
            </button>
          </h2>
          <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Podés pagar al contado cualquiera de nuestros inmuebles container; casas, dúplex, piletas, quinchos, garages, jardines de invierno, oficinas, bares, locales comerciales o cualquier otro tipo de inmuebles que tengas en mente.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFiveteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFiveteen" aria-expanded="false" aria-controls="flush-collapseFiveteen">
              <div class="tituloAcordeon">¿Puedo pagar en cuotas mi inmueble container?</div>
            </button>
          </h2>
          <div id="flush-collapseFiveteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFiveteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Podés acceder a pagar en cómodas cuotas cualquiera de nuestros inmuebles container; casas, dúplex, piletas, quinchos, garages, jardínes de invierno, oficinas, bares, locales comerciales o cualquier otro tipo de inmueble que tengas en mente.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSixteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
              <div class="tituloAcordeon">¿Qué es la financiación en Importainer S.A?</div>
            </button>
          </h2>
          <div id="flush-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingSixteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En <strong>Importainer S.A.</strong> ofrecemos los planes de financiación más competitivos de Argentina. Si te interesa saber más, pedí asesoramiento escribiendo tu consulta por WhatsApp: <a href="https://wa.me/5491159378945?text=" target="_blank">+54 9 11 59378945</a> ó <a href="https://wa.me/5491122763820?text=" target="_blank">+54 9 11 22763820.</a></div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeventeen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
              <div class="tituloAcordeon">¿Cómo puedo acceder a la financiación en Importainer S.A?</div>
            </button>
          </h2>
          <div id="flush-collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="flush-headingSeventeen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Si deseas tener y disfrutar del inmueble container que tanto soñás y querés hacerlo por medio de la financiación; sólo debés pedir asesoramiento en nuestra página web o en alguno de nuestros números de WhatsApp: <a href="https://wa.me/5491159378945?text=" target="_blank">+54 9 11 59378945</a> ó <a href="https://wa.me/5491122763820?text=" target="_blank">+54 9 11 22763820.</a>. Nuestros asesores te guiarán en el paso a paso.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingEighteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
              <div class="tituloAcordeon">¿Qué son los préstamos Galicia?</div>
            </button>
          </h2>
          <div id="flush-collapseEighteen" class="accordion-collapse collapse" aria-labelledby="flush-headingEighteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En <strong>Importainer S.A.</strong> tenemos convenios con Galicia. Podés acceder a un préstamo con ellos para financiar tus pilotes, transporte y electrodomésticos.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingNineteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNineteen" aria-expanded="false" aria-controls="flush-collapseNineteen">
              <div class="tituloAcordeon">¿Debo pagar un anticipo para comprar en Importainer S.A.?</div>
            </button>
          </h2>
          <div id="flush-collapseNineteen" class="accordion-collapse collapse" aria-labelledby="flush-headingNineteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En <strong>Importainer S.A.</strong> no te pedimos adelantos para que accedas a tener el inmueble container de tus sueños. Si te interesa saber más, pedí asesoramiento en esta misma página web o escribiéndonos por WhatsApp: <a href="https://wa.me/5491159378945?text=" target="_blank">+54 9 11 59378945</a> ó <a href="https://wa.me/5491122763820?text=" target="_blank">+54 9 11 22763820.</a></div>
          </div>
        </div>
      </div>

    </div>
  
  </body>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</html>