<!DOCTYPE html>
<html>
  
  <head>
    <%- include('partials/head.ejs') %>  
  </head>

  <header>
      <%- include('partials/header.ejs') %>
  </header>
  
  <body>

    <div class="bannerVideoIndex">
      <video autoplay muted loop src="/images/index/video.mp4"></video>
    </div>

    <h1>Encontrá tu paquete ideal!</h1>
    <div class="categoriasIndex">

      <div class="categoria">
        <a href="/paquetes/micros">
          <div class="imagenCategoria">
            <img src="/images/index/cat_enbus.jpg" alt="">
          </div>
          <div class="nombreCategoria">
            Viajes en micro
          </div>
        </a>
      </div>
      
      <div class="categoria">
        <a href="/paquetes/aereos">
          <div class="imagenCategoria">
            <img src="/images/index/cat_aereos.jpg" alt="">
          </div>
          <div class="nombreCategoria">
            Viajes en avión
          </div>
        </a>
      </div>

      <div class="categoria">
        <a href="/paquetes/findes">
          <div class="imagenCategoria">
            <img src="/images/index/cat_miniturismo.jpg" alt="">
          </div>
          <div class="nombreCategoria">
            Findes largos
          </div>
        </a>
      </div>
      
    </div>

    <div class="porQueIndex">
      <h2>¿Por qué comprar con Rosana Araujo Viajes?</h2>
      <div class="textosPorque">
        <p>Rosana Araujo, técnica superior en turismo con más de 5 años de experiencia, es tu mejor opción para organizar viajes inolvidables.</p>
        <p>Su trayectoria en reconocidas empresas de Argentina como Chevallier y Pedraza, la respalda como una experta en la creación y venta de paquetes turísticos.</p>
        <p>A lo largo de su carrera, Rosana ha demostrado su capacidad para llenar micros de pasajeros en ocasiones especiales como el Día del Maestro, Viajes de Egresados y Viajes para Gente Mayor.</p>
        <p>Ahora, también se destaca en la venta de pasajes para el exterior.</p>
        <p>Gracias a sus años de dedicación en el sector, Rosana comprende las necesidades de sus clientes y ofrece un servicio personalizado que garantiza satisfacción.</p>
        <p>Sus paquetes incluyen tanto viajes en micro como en avión, adaptándose a las preferencias y presupuestos de cada viajero.</p>
        <p>Rosana se especializa en ofrecer opciones accesibles sin comprometer la calidad, incluyendo traslado, excursiones y hospedaje en todos sus paquetes.</p>
        <p>Desde la planificación hasta el regreso, Rosana se encarga de todos los detalles, permitiendo que disfrutes de tu viaje sin preocupaciones.</p>
        <p>Confía en Rosana Araujo para tus próximas vacaciones y descubre cómo la experiencia y el compromiso pueden transformar tu viaje en una experiencia memorable.</p>
      </div>
      <div class="iconosIndex">
        <div class="cajaIconoIndex">
          <div class="face front">
            <img src="images/index/icono_transporte.png" alt="">
          </div>
          <div class="face back">
            <div class="nombreIconoIndex">Buses semi camas y camas</div>
          </div>
        </div>
        <div class="cajaIconoIndex">
          <div class="face front">
            <img src="images/index/icono_avion.png" alt="">
          </div>
          <div class="face back">
            <div class="nombreIconoIndex">Volá dentro y fuera del país</div>
          </div>
        </div>
        <div class="cajaIconoIndex">
          <div class="face front">
            <img src="images/index/icono_tarjeta.png" alt="">
          </div>
          <div class="face back">
            <div class="nombreIconoIndex">Efectivo, transferencia o MP</div>
          </div>
        </div>
        <div class="cajaIconoIndex">
          <div class="face front">
            <img src="images/index/atencion.png" alt="">
          </div>
          <div class="face back">
            <div class="nombreIconoIndex">Atención personalizada</div>
          </div>
        </div>
      </div>
    </div>

    <div class="bannerMate">
      <p>Date la oportunidad de soñar</p>
    </div>

  </body>
  
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>

</html>
