<footer>
    <div class="padreColumnasFooter">
        <div class="columnaFooter">
            <div class="logoFooter">Rosi Viajes</div>
            <div class="d-flex justify-content-start cajaRedesFooter">
                <a class="redesFooter" href="https://wa.me/5491149141781?text=" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="redesFooter" href="https://www.facebook.com/rosana.araujo.581?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="redesFooter" href="https://www.instagram.com/rosana_araujo07?igsh=MTM0aXhycDJ3ZGFyZw==" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="redesFooter" href="https://www.linkedin.com/in/rosana-araujo-ab3651a3/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="columnaFooter">
            <p class="tituloFooter">CONTACTO</p>
            <p>Lunes a Sábados de 09:00 a 20:00 hs</a></p>
            <p><i class="fa fa-map-marker-alt"></i> Ing. Adolfo Sourdeaux</p>
            <p><i class="fa fa-phone-alt"></i> +54 11-4914-1781</p>
            <p><i class="fa fa-envelope"></i> info@musicstore.com</p>
            <p><a href="/contacto"><i class="fa-solid fa-paper-plane"></i> Envia un mensaje</a></p>
        </div>

        <div class="columnaFooter">
            <p class="tituloFooter">SECCIONES</p>
            <p><a href="/"><i class="fa fa-angle-right mr-2"></i> Inicio</a></p>
            <p><a href="/paquetes"><i class="fa fa-angle-right mr-2"></i> Todos los paquetes</a></p>
            <p><a href="/usuarios/login"><i class="fa fa-angle-right mr-2"></i> Paquetes Bus</a></p>
            <p><a href="/usuarios/register"><i class="fa fa-angle-right mr-2"></i> Paquetes Aereos</a></p>
            <p><a href="/preguntas"><i class="fa fa-angle-right mr-2"></i> Preguntas frecuentes</a></p>
            <p><a href="/contacto"><i class="fa fa-angle-right mr-2"></i> Contacto</a></p>
        </div>
    </div>

    <div class="cajaDesarrollador">
        <div>© <span>Music Center</span>. Todos los derechos reservados. Diseñado por <a href="https://elias-zurita.github.io/" target="_blank"><strong>Elias Zurita</strong></a></div>
    </div>
</footer>