<header class="fixed-top">

    <!-- Boton de whats app para todas las vistas -->
    <a href="https://wa.me/5491149141781?text=%20Hola%20Rosana, quiero%20info%20sobre%20paquetes%20turisticos" target="_blank" class="btn-wsp"><i class="fa-brands fa-whatsapp"></i></a>
    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Rosi Viajes</a>
            <a class="inicioHeader" href="/">Rosi Viajes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Burger Button WH3S -->
                <div class="container" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-0 headerDesktop">
                    <li class="nav-item">
                        <a class="nav-link" href="/paquetes"><i class="fa-solid fa-list"></i> TODOS LOS PAQUETES</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/paquetes/micros"><i class="fa-solid fa-bus"></i> PAQUETES EN MICRO</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/paquetes/aereos"><i class="fa-solid fa-plane"></i> PAQUETES AEREOS</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/preguntas"><i class="fa-solid fa-question"></i> PREGUNTAS FRECUENTES</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/contacto"><i class="fa-solid fa-message"></i> CONTACTO</a>
                    </li>
                    <% if (locals.isLogged) { %>
                        <li class="nav-item">
                            <a class="nav-link logui" href="/usuarios/profile"><i class="fa-solid fa-address-card"></i> MI PERFIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link logui" href="/usuarios/logout"><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i> CERRAR SESIÓN</a>
                        </li>
                        <% if (locals.userLogged.category == "admin") { %>
                        <li class="nav-item">
                            <a class="nav-link logui"href="/administrar/paquetesList"><i class="fa-solid fa-wrench"></i> ADMINISTRAR</a>
                            <% } %>
                        </li>
                    <% } else { %>    <!-- Si no esta logueado muestra lo siguiente -->
                    <% } %>
                </ul>
           
                <form class="buscadorHeader" role="search" method="GET" action="/paquetes/buscar">
                    <input class="form-control" id="busqueda" type="search" name="buscar" placeholder="¿Qué estás buscando?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
      

    <script>
        function myFunction(x) {
          x.classList.toggle("change");
        }
    </script>
    
</header>